:root {
  --vh: 100lvh;
  --dvh: 100dvh;

  // Font Family
  --font: "Monrope", sans-serif;
  --font-second: "Inter", sans-serif;

  // Colors
  --bg-color: #F9FAFB;
  --light-color: #ffffff;
  --dark-color: #142132;
  --text-color: #1E1E1E;
  --blue-color: #2B73FF;
}