<form class="form @@class" id="feedbackForm">
  <div class="form-content">
    <div class="form-content__item">
      <div class="form__item">
        <label class="form__label" for="feedback_full_name">Full name <span>*</span></label>
        <div class="form__input-wrap">
          <input class="form__input" type="text" name="name" id="feedback_full_name" placeholder="Ade Tiger" />
          <div class="form__icon">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.3333 16V14.3333C14.3333 13.4493 13.9821 12.6014 13.357 11.9763C12.7319 11.3512 11.8841 11 11 11H4.33333C3.44928 11 2.60143 11.3512 1.97631 11.9763C1.35119 12.6014 1 13.4493 1 14.3333V16M11 4.33333C11 6.17428 9.50762 7.66667 7.66667 7.66667C5.82572 7.66667 4.33333 6.17428 4.33333 4.33333C4.33333 2.49238 5.82572 1 7.66667 1C9.50762 1 11 2.49238 11 4.33333Z"
                stroke="#C7C7C7" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="error-message"></div>
        </div>
      </div>

      <div class="form__item">
        <label class="form__label" for="feedback_email">Email address <span>*</span></label>
        <div class="form__input-wrap">
          <input class="form__input" type="email" name="email" id="feedback_email" placeholder="yourname@email.com" />
          <div class="form__icon">
            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.3333 2.33333C14.3333 1.6 13.7333 1 13 1H2.33333C1.6 1 1 1.6 1 2.33333M14.3333 2.33333V10.3333C14.3333 11.0667 13.7333 11.6667 13 11.6667H2.33333C1.6 11.6667 1 11.0667 1 10.3333V2.33333M14.3333 2.33333L7.66667 7L1 2.33333"
                stroke="#C7C7C7" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
          <div class="error-message"></div>
        </div>
      </div>

      <div class="form__item form__number">
        <label class="form__label" for="feedback_phone">Phone number <span>*</span></label>
        <div class="form__input-wrap">
          <input class="form__input" type="tel" name="phone" id="feedback_phone" placeholder="+123 456 789" />
          <div class="form__icon">
            <div class="form__flag">
              <img src="./img/feedback/flag.webp" alt="" loading="lazy" />
            </div>
          </div>
          <div class="error-message"></div>
        </div>
      </div>
    </div>
    <div class="form-content__item">
      <div class="form__item">
        <label class="form__label" for="feedback_company_name">Company <span>*</span></label>
        <div class="form__input-wrap">
          <input class="form__input" type="text" name="name" id="feedback_company_name" placeholder="Company name" />
          <div class="form__icon">
            <img src="./img/modals/company.png" alt="" loading="lazy" />
          </div>
          <div class="error-message"></div>
        </div>
      </div>

      <div class="form__item">
        <label class="form__label" for="feedback_company_mc">Company MC#</label>
        <div class="form__input-wrap">
          <input class="form__input" type="text" name="company_mc" id="feedback_company_mc" placeholder="1234567" />
          <div class="form__icon">
            <img src="./img/modals/mcnumber.png" alt="" loading="lazy" />
          </div>
        </div>
      </div>

      <div class="form__item form__number">
        <label class="form__label" for="feedback_website">Website</label>
        <div class="form__input-wrap">
          <input class="form__input" type="text" name="website" id="feedback_website" placeholder="example.com" />
          <div class="form__icon">
            <img src="./img/modals/website-icon.png" alt="" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form__item">
    <label class="custom-checkbox">
      <input type="checkbox" id="customCheck">
      <span class="checkmark"></span>
      <span class="checkbox-text">
                          I agree to the <a href="privacy-policy.html" target="_blank">privacy policy</a> and to BeRocker using my contact
                          details to get in touch to share marketing tips, other content,
                          and the latest offers.
                      </span>
    </label>
  </div>
  @@include('./primary-button.html',{ 'text':'Get your free demo','type':'submit', "id": "feedbackFormBtn" })
  <div class="feedback-form__call">
    <a class="call-content" href="#">
      <div class="call-content__item">
        <img src="img/feedback/whatsapp.png" alt="">
      </div>
      What’s app
    </a>
    <a href="tel:#" class="call-content">
      <div class="call-content__item">
        <img src="img/feedback/phone.png" alt="">
      </div>
      Call us
    </a>
  </div>
</form>
