<div class="platform__call active">
  <div class="platform__call-title">
    Are you curious?
    <br />
    Try now
  </div>
  <div class="form__item form__number">
    <label class="form__label" for="phone">Phone number <span>*</span></label>
    <input class="form__input" type="tel" name="phone" id="phone" placeholder="+123 456 789" />
    <div class="error-message"></div>
    <div class="form__icon">
      <div class="form__flag">
        <img loading="lazy" src="./img/feedback/flag.webp" alt="" />
      </div>
    </div>
  </div>
  @@include('../../../components/primary-button.html',{'text':'Get AI demo call','class':'platform__call-btn'})
  <p class="platform__call-text">experience how BeRocker AI handles it</p>
</div>

<!--<div class="platform__call active ">-->
<!--  <div class="platform__call-title">-->
<!--    Are you curious?-->
<!--    <br />-->
<!--    Try now-->
<!--  </div>-->
<!--  <div class="form__item form__number">-->
<!--    <label class="form__label" for="phone">Phone number <span>*</span></label>-->
<!--    <input class="form__input" type="tel" name="phone" id="phone" placeholder="+123 456 789" />-->

<!--    <div class="form__icon">-->
<!--      <div class="form__flag">-->
<!--        <img loading="lazy" src="./img/feedback/flag.webp" alt="" />-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--    @@include('../../../components/primary-button.html',{'text':'Get AI demo call','class':'platform__call-btn'})-->
<!--  <p class="platform__call-text">experience how BeRocker AI handles it</p>-->
<!--</div>-->
