.services {
    // padding: 9.9rem 20px;
    display: flex;
    align-items: center;
    &.active {
        .services {
            &__img,
            &__tab,
            &__info {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
    &__inner {
        width: 100%;
        min-height: 80rem;
        padding: 9.9rem 0;
        display: grid;
        grid-template-areas:
            ". tab"
            "img info";
        grid-template-columns: 55rem 1fr;
        grid-template-rows: max-content 1fr;
        column-gap: 7.7rem;
        row-gap: 4rem;

        @include _1399-max {
            column-gap: 2rem;
        }
        @include _1199-max {
            row-gap: 30px;
            grid-template-columns: 47rem 1fr;
        }
        @include _991-max {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        @include _576-max {
            row-gap: 37px;
            min-height: auto;
            padding: 70px 0 0 0;
        }
    }
    &__title {
        max-width: 56.7rem;
    }
    &__img {
        grid-row: span 2;
        display: flex;
        grid-area: img;
        opacity: 0;
        transform: translateY(8rem);
        transition:
            opacity 0.4s ease-in,
            transform 0.4s ease-in;
        @include _991-max {
            order: 3;
        }
        @include _576-max {
            height: 300px;
        }
        &-item {
            width: 100%;
            height: max-content;
	        justify-content: center;
            display: flex;
            @include _991-max {
                max-width: 500px;
                justify-content: center;
            }
            @include _576-max {
                height: 100%;
                max-width: 320px;
            }
        }
        object {
            width: 100%;
            @include _576-max {
                height: 100%;
            }
        }
    }
    &__img,
    &__info {
        position: relative;
        &-item {
            position: absolute;
            inset: 0;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s linear;
            &.active {
                opacity: 1;
                pointer-events: all;
                position: relative;
            }
        }
    }
    &__info {
        grid-area: info;
        opacity: 0;
        transform: translateY(8rem);
        transition:
            opacity 0.4s ease-in 0.2s,
            transform 0.4s ease-in 0.2s;
        will-change: transform;
        &-title {
            color: #000;
            margin: 1rem 0 2rem 0;
            @include _576-max {
                position: relative;
                margin: 0;
                text-decoration: underline;
            }
        }
        &-desc {
            margin-top: 4rem;
            max-width: 49.3rem;
            @include _1199-max {
                margin-top: 30px;
            }
            @include _991-max {
                margin: 40px auto 0 auto;
            }
            @include _576-max {
                margin-top: 19px;
            }
        }
        &-desc,
        &-text {
            color: #232d3d;
        }
        &-icon {
            width: 3.5rem;
            display: inline-block;
            img {
                width: 100%;
            }
            @include _576-max {
                width: 20px;
            }
        }
        &-text {
            max-width: 25.6rem;
            @include _576-max {
                display: none;
            }
        }
    }
    &__tab {
        display: flex;
        align-items: center;
        width: max-content;
        border-radius: 3.2rem;
        background: rgb(220, 220, 224, 0.32);
        box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.08) inset;
        border: 1px solid #dcdce0;
        padding: 4px;
        position: relative;
        grid-area: tab;
        opacity: 0;
        transform: translateY(8rem);
        transition:
            opacity 0.4s ease-in 0.2s,
            transform 0.4s ease-in 0.2s;
        @include _576-max {
            order: 3;
        }
        &-item {
            display: inline-block;
            padding: 1rem 2.5rem;
            border-radius: 3.2rem;
            font-size: 1.4rem;
            background: transparent;
            font-weight: 500;
            color: #6b7280;
            outline: none;
            border: none;
            transition:
                color 0.3s linear,
                background 0.3s linear,
                box-shadow 0.3s linear;
            box-shadow: 0 1px 0.6rem 0 rgba(0, 0, 0, 0);
            @include _1199-max {
                padding: 10px 20px;
                font-size: 12px;
            }

            @include _576-max {
                padding: 7px 13px;
                font-size: 10px;
            }
            &.active {
                box-shadow: 0 1px 0.6rem 0 rgba(0, 0, 0, 0.06);
                background: #fff;
                color: #232d3d;
            }
        }
    }
    &__list {
        display: flex;
        gap: 5.4rem;
        margin-top: 6.4rem;
        position: relative;

        @include _576-max {
            justify-content: center;
            margin-top: 18px;
            gap: 15px;
        }
        &-item {
            @include _576-max {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }
    &__dropdown {
        position: absolute;
        top: 40px;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        background: #eff6ff;
        padding: 38px 42px;
        border-radius: 25px;
        z-index: 2;
        text-align: left;
        display: none;
        @include _576-max {
            display: inline-block;
        }
        &-title {
            font-size: 14px;
            font-weight: 700;
            color: #232d3d;
            margin-bottom: 8px;
        }
        &-desc {
            font-size: 14px;
            color: #232d3d;
            line-height: 130%;
        }
        &-close {
            position: absolute;
            top: 13px;
            right: 13px;
            width: 27px;
            height: 27px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.active {
            opacity: 1;
            pointer-events: all;
        }
    }
}
.omnichannel {
    width: 57.2rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eff6ff;
    border-radius: 50%;
    position: relative;
    @include _576-max {
        width: 300px;
        height: 300px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        height: 65%;
        border-radius: inherit;
        background: #d8e9ff;
    }
    &__img {
        width: 28.8%;
        aspect-ratio: 1/1;
        position: relative;
        z-index: 2;
    }
    &__list {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 3;
        &-item {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            & > * {
                cursor: pointer;
            }
            &.visible {
                span {
                    top: 50%;
                    transform: translate(-100%, -50%);
                    left: 3rem;
                    bottom: auto;
                    padding: 0.7rem 3.7rem 0.7rem 1.7rem;
                    background: rgba(254, 74, 73, 1);
                    opacity: 1;
                    font-size: 1.6rem;
                    z-index: -1;
                    cursor: pointer;
                    border-radius: 2.8rem;
                    @include _576-max {
                        font-size: 10px;
                        padding: 3px 15px 3px 10px;
                        min-width: auto;
                        left: 10px;
                    }
                }
            }
            span {
                position: absolute;
                bottom: -4px;
                transform: translateY(100%);
                transition: opacity 0.3s ease;
                opacity: 0;
                pointer-events: none;
                padding: 0.6rem 1rem;
                border-radius: 1.4rem;
                background: rgba(0, 0, 0, 0.4);
                min-width: 10.9rem;
                text-align: center;
                font-size: 1.4rem;
                line-height: 110%;
                font-weight: 500;
                color: #fff;
                white-space: nowrap;
                font-family: var(--font-second);
                @include _576-max {
                    font-size: 10px;
                    padding: 3px 12px;
                    min-width: auto;
                }
            }
            img {
                filter: drop-shadow(0 1.2px 1.4rem rgba(0, 0, 0, 0.25));
                width: 100%;
            }
            &:hover {
                z-index: 9;
                span {
                    opacity: 1;
                    pointer-events: all;
                }
            }
            &:nth-of-type(1) {
                left: 48.5%;
                top: 17.2%;
                width: 5.6rem;
                @include _576-max {
                    width: 30px;
                }
            }
            &:nth-of-type(2) {
                left: 32%;
                top: 19.6%;
                width: 4.1rem;

                @include _576-max {
                    width: 22px;
                }
            }
            &:nth-of-type(3) {
                right: 22.6%;
                bottom: 46%;
                width: 4.1rem;
                @include _576-max {
                    width: 22px;
                }
            }
            &:nth-of-type(4) {
                right: 6.3%;
                top: 30%;
                width: 4.4em;
                &.visible {
                    span {
                        background: rgba(97, 52, 244, 1);
                    }
                }
                @include _576-max {
                    width: 22px;
                }
            }
            &:nth-of-type(5) {
                right: 18%;
                top: 12.7%;
                width: 4.9rem;
                @include _576-max {
                    width: 34px;
                    top: 10%;
                    right: 15%;
                }
                
            }
            &:nth-of-type(6) {
                left: 20.8%;
                top: 30%;
                width: 4.1rem;
                @include _576-max {
                    width: 22px;
                }
            }
            &:nth-of-type(7) {
                right: 20.8%;
                bottom: 16.3%;
                width: 5.2rem;
                @include _576-max {
                    width: 28px;
                }
            }
            &:nth-of-type(8) {
                left: 4%;
                bottom: 29.2%;
                width: 6rem;
                @include _576-max {
                    width: 32px;
                }
            }
            &:nth-of-type(9) {
                left: 54.1%;
                bottom: 3%;
                width: 4rem;
                &.visible {
                    span {
                        background: rgba(28, 30, 33, 1);
                    }
                }
                @include _576-max {
                    width: 21px;
                }
            }
            &:nth-of-type(10) {
                left: 30%;
                top: 4.1%;
                width: 3.8rem;
                @include _576-max {
                    width: 34px;
                }
            }
            &:nth-of-type(11) {
                left: 25.5%;
                bottom: 37.5%;
                width: 4.1rem;
                @include _576-max {
                    width: 20px;
                }
            }
            &:nth-of-type(12) {
                right: 5.6%;
                top: 40.7%;
                width: 3.3rem;
                @include _576-max {
                    width: 18px;
                }
            }
            &:nth-of-type(13) {
                left: 16.8%;
                bottom: 45.6%;
                width: 4.4rem;
                &.visible {
                    span {
                        background: rgba(242, 47, 70, 1);
                    }
                }
                @include _576-max {
                    width: 27px;
                }
            }
            &:nth-of-type(14) {
                right: 29%;
                top: 6%;
                width: 5rem;
                &.visible {
                    span {
                        background: rgba(36, 55, 70, 1);
                    }
                }
                @include _576-max {
                    width: 26px;
                }
            }
            &:nth-of-type(15) {
                left: 51.5%;
                bottom: 15.5%;
                width: 4.4rem;
                &.visible {
                    span {
                        background: rgba(255, 130, 28, 1);
                    }
                }
                @include _576-max {
                    width: 22px;
                }
            }
            &:nth-of-type(16) {
                right: 5.5%;
                bottom: 30%;
                width: 4.4rem;
                &.visible {
                    span {
                        background: rgba(6, 132, 188, 1);
                    }
                }
                @include _576-max {
                    width: 22px;
                }
            }
        }
    }
}
